---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

    <Layout title="Astro Blog">
        <section class="page-content" >
            <div class="container" >
                <p> {"<(^^)>"} </p>
            </div>
        </section>
    </Layout>