---
import Layout from "../layouts/Layout.astro";
import Showcase from "../components/Showcase.astro";
import Features from "../components/Features.astro";

const name = "Astro"

// console.log(users) outputs into terminal
---

<Layout>
	<Showcase showExtra={true} />
	<Features />
	<h1>Hello {name}</h1>
</Layout>

<style>
	h1 {
		color: rebeccapurple;
	}
</style>